<section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          ADMIN <span>LOGIN</span>
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container contact-form">

<%= form_with do |form| %>
 
  <%= form.text_field :name,placeholder: "username" %></br>
  <%= form.password_field :password,placeholder: "password" %><br>
   <div class="btn_box">
                <button>
                  login
                </button>
              </div>
<% end %>
</div>
</div>
</div>
</div>
</div>
</section>